.navigation {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  align-items: center; 

  &__link {
    color: #626767;
    text-decoration: none; 
    font-weight: 600;
    transition: 0.3s;

    &:hover {
      color: lighten(#626767, 30%)
    }
  }
}