.shopping-cart-icon {
  position: relative;

  &__asset {
    height: 24px;
    width: 24px;
  }

  &__count {
    font-size: 12px;
    font-weight: 700;
    position: absolute;
    bottom: 4px;
    left: 50%;
    transform: translateX(-50%);
  }
}