.category-row {
  &__product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 8px;
  }
  
  &__category-title {
    font-size: 32px;
    font-weight: 700;
    text-decoration: none;
    color: #767676;
    transition: 0.3s;

    &:hover {
      color: black;
    }
  }
}