$primary-color: black;
$google-color: #4C8BF5;
$off-color: white;

@mixin defaultInverted {
  color: $primary-color;
  background-color: $off-color;
  border: 1px solid $primary-color;
}

.custom-button {
  display: inline-block;
  text-transform: uppercase;
  padding: 12px 42px;
  outline: none;
  border: none;
  background-color: $primary-color;
  color: $off-color;
  min-width: 150px;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid $off-color;

  &:hover {
    @include defaultInverted;
  }

  &--google {
    background-color: $google-color;
    color: $off-color;
    border: 1px solid black;
  }
}